name: iOS CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-14

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build and test
        run: |
          xcodebuild test \
            -project GithubAPIWrapper.xcodeproj \
            -scheme GithubAPIWrapper \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest'


