name: iOS CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.1.0"

      - name: Show Xcode version
        run: xcodebuild -version

      - name: List simulators
        run: xcrun simctl list devices

      - name: Run tests
        run: |
          xcodebuild test \
            -project GithubAPIWrapper.xcodeproj \
            -scheme GithubAPIWrapper \
            -destination "platform=iOS Simulator,name=iPhone 16,OS=18.2" \
            -derivedDataPath build

